<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Your next home!</title>
</head>
<body>

{{> /common/_navigation }}

<h1>Only ${{ apartment.rent }}</h1>
<p>
  {{ apartment.address }}<br>
  {{ apartment.city }}, {{ apartment.state }} {{ apartment.zipCode }}
</p>
<dl>
  <dt>Number of bedrooms</dt>
  <dd>{{ apartment.numberOfBedrooms }}</dd>
  <dt>Number of bathrooms</dt>
  <dd>{{ apartment.numberOfBathrooms }}</dd>
  <dt>Square footage</dt>
  <dd>{{ apartment.squareFootage }}</dd>
</dl>

</body>
</html>