<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add a listing!</title>
</head>
<body>
  {{> /common/_navigation.html }}

  <form method="post" action="/apartments">
    <input name="apartment[rent]" type="number" required placeholder="Monthly rent">
    <br>
    <input name="apartment[number_of_bedrooms]" type="number" required placeholder="Number of bedrooms">
    <br>
    <input name="apartment[number_of_bathrooms]" step="0.5" type="number" required placeholder="Number of bathrooms">
    <br>
    <input name="apartment[square_footage]" type="number" required placeholder="Square footage">
    <br>
    <input name="apartment[address]" type="text" required placeholder="Street address">
    <br>
    <input name="apartment[city]" type="text" required placeholder="City">
    <br>
    <input name="apartment[state]" type="text" required placeholder="State">
    <br>
    <input name="apartment[zip_code]" type="text" required placeholder="ZIP code">
    <br>
    <button>Add listing</button>
  </form>
</body>
</html>